*{
    padding: o;
    margin: 0;
    color: white;
    text-align: center;
}
#navbar{
    height: 60px;
    width: 100%;
    background-color: black;
}
div{
    height: 180px;
    width: 400px;
    display: inline-flexbox;
    margin-top: 10px;
    margin-right: 50px;
}
#container{
    height: 200px;
    width: 99%;
    display: flex;
    margin-top: 30%;
    justify-content: center;
}
#box1{
    background-color: aliceblue;
}
#box2{
    background-color: bisque;
}
#box3{
    background-color: cadetblue;
}